table{
    background-color:#9fcce0;
    margin-left: 29rem;
}
table,
  td {
    border: 1px solid grey;
    border-collapse: collapse;
  }
  td {
    width:40px;
    height:40px;
  }

h1{
    text-align: center;
    letter-spacing: 9px;
    color: beige;
    }
.btn{
    margin-left: 32rem;
    height: 3rem;
    width: 20rem;
    font-size: 25px;
    letter-spacing: 1rem;
    border-radius: 1rem;
}